{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" href="{{  url_for('static', filename='./css/style.css' ) }}">
<link rel="stylesheet" href="{{  url_for('quiz.static', filename='./css/quiz_home_style.css' ) }}">
<link rel="stylesheet" href="{{ url_for('quiz.static', filename='./css/quiz_start_style.css') }}">
{% endblock %}
{% block title%}Quiz{% endblock %}
{% block content %}
<main class="main">
    <h1 class="main__h1">Pytanie {{ session["question_number"] }}</h1>
    <p class="main__p"> {{ session["question"] }}?</p>
    <form method="post">
        <input type="hidden" name="question_number" value="{{ session[' question_number'] }}">
        {% for answer in session["answers"] %}
        <button type="submit" name="answer" value="{{ answer }}" class="btn btn-secondary answer{{ loop.index }}">{{
            answer }}</button>
        {% endfor %}
    </form>
</main>
{% endblock %}

<!-- <!DOCTYPE html>


<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='./css/style.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('quiz.static', filename='./css/quiz_home_style.css') }}">


    <title>Czas na quiz</title>
</head>

<body>
    <div class="content">

    </div>

</body>

</html> -->